@import "tailwindcss";

html {
    scroll-behavior: smooth;
    background-color: black;
}

* {
    font-family: 'VT323', monospace;
}

@theme {
    --font-vt323: 'VT323', monospace;
}

body {
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5), 0 0 10px rgba(0, 255, 0, 0.3);
}

::selection {
    background-color: rgba(0, 255, 0, 0.9);
    color: black;
    text-shadow: none;
}
